---

---

<main class="app">
	<section class="scroll bg-lime-400">
		<div class="scroll_wrapper">
			<div class="scroll_gallery">
				<div class="scroll_gallery_container">
					<div class="scroll_gallery_row">
						<!-- <img
							src="https://assets.lummi.ai/assets/QmYt41KzKJcCQq1L3Pcm1kziRhG87ieiJbdVe4WadUzmPi?auto=format&w=1500"
							alt=""
							class="scroll_gallery_row_image"
						/> -->
						<video
							loop
							autoplay
							muted
							src="https://cdn.cosmos.so/5b4ab569-c375-4f0e-bf59-61dc98375bad.mp4"
							class="scroll_gallery_row_image object-cover object-center"
						></video>
					</div>
					<div class="scroll_gallery_row">
						<img
							src="https://cdn.cosmos.so/0b92186b-a07e-4f3a-8462-78de01b76519?format=jpeg"
							alt=""
							class="scroll_gallery_row_image"
						/>
						<!-- <img
							src="https://assets.lummi.ai/assets/QmTUbwHSRSA8UN1ewXXhzUHnwv7qBHvQkrHwPLRhnYhmGh?auto=format&w=1500"
							alt=""
							class="scroll_gallery_row_image"
							/> -->
						<video
							loop
							autoplay
							muted
							src="https://cdn.cosmos.so/4c735736-5e80-4498-988b-9dea9be2f3b3.mp4"
							class="scroll_gallery_row_image object-cover object-center"
						></video>
					</div>
					<div class="scroll_gallery_row">
						<video
							loop
							autoplay
							muted
							src="https://cdn.cosmos.so/74eaa492-31ae-4550-b5a1-40917d873af5.mp4"
							class="scroll_gallery_row_image object-cover object-center"
						></video>
						<!-- <img
							src="https://assets.lummi.ai/assets/QmSnJMiq7ShB2bnezFPd8YUcpcvW1heMVLPynKDPZrULNc?auto=format&w=1500"
							alt=""
							class="scroll_gallery_row_image"
						/> -->
						<!-- <img
							src="https://assets.lummi.ai/assets/QmWCkvtFkuwyd7576X7Wxmc94P45H9SSPgdND3v5WRJFeX?auto=format&w=1500"
							alt=""
							class="scroll_gallery_row_image"
						/> -->
						<video
							loop
							autoplay
							muted
							src="https://cdn.cosmos.so/743bf8b3-8ce0-4404-80a4-267fb6b0b97d.mp4"
							class="scroll_gallery_row_image object-cover object-center"
						></video>
					</div>
				</div>
			</div>

			<div
				class="scroll_text flex flex-col items-center pt-96 flex-wrap h-svh"
			>
				<div class="scroll_text_subtitle">
					<span>タクミ</span>
					<h1>( Takumi )</h1>
					<h2>Innovation</h2>
				</div>

				<div class="scroll_text_title">
					<div class="scroll_text_title_word">
						<span>T</span>
						<span>h</span>
						<span>e</span>
					</div>
					<div class="scroll_text_title_word">
						<span>M</span>
						<span>a</span>
						<span>k</span>
						<span>i</span>
						<span>n</span>
						<span>g</span>
					</div>
				</div>

				<div class="scroll_text_title">
					<div class="scroll_text_title_word">
						<span>O</span>
						<span>f</span>
					</div>
				</div>

				<div class="scroll_text_title">
					<div class="scroll_text_title_word">
						<span>a</span>
					</div>

					<div class="scroll_text_title_word">
						<span>M</span>
						<span>a</span>
						<span>s</span>
						<span>t</span>
						<span>e</span>
						<span>r</span>
						<span>p</span>
						<span>i</span>
						<span>e</span>
						<span>c</span>
						<span>e</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="../scripts/index.js"></script>
